**/fonts/**/style.css

**/lib/amcharts3
**/lib/datetimepicker
**/lib/jquery
**/lib/simplebar
**/lib/swiper

**/lib/SBGrid/css
**/lib/SBGrid/img
**/lib/SBGrid/js
**/lib/SBGrid/SBGrid_Lib.js
**/lib/SBGrid/SBGrid_min.js
**/lib/SBGrid/SBGrid2.5_License.txt

**/legacy/**/slick.css
**/legacy/**/jquery-ui.css
**/legacy/**/jquery.mCustomScrollbar.min.css

**/legacy/**/jquery-3.4.1.min.js
**/legacy/**/jquery-3.4.1.min.js.map
**/legacy/**/jquery-ui.min.js
**/legacy/**/jquery.placeholder.min.js
**/legacy/**/jquery.mCustomScrollbar.concat.min.js
**/legacy/**/slick.min.js
**/legacy/**/amcharts.js
**/legacy/**/serial.js